<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mapper.CategoryMapper">
    <!--自关联查询-->
    <resultMap id="categoryMap" type="com.dj.pojo.Category">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="remark" property="remark"></result>
        <result column="createtime" property="createtime"></result>
        <result column="updatetime" property="updatetime"></result>
        <collection property="children" ofType="com.dj.pojo.Category" column="id" select="selectByPid"></collection>
    </resultMap>

    <select id="selectByPid" resultType="com.dj.pojo.Category">
        select * from category where pid = #{id} order by id desc
    </select>

    <select id="listByCondition" resultMap="categoryMap">
        select c1.*,'${name}' as queryName from category c1
        left join category c2
        on c1.id = c2.pid
        <where>
            isnull(c1.pid)
            <if test="name != null and name != ''">
                and (c1.name like concat('%', #{name}, '%') or c2.name like concat('%', #{name}, '%'))
            </if>
        </where>
        group by c1.id
        order by c1.id desc
    </select>
    
    <insert id="save">
        insert into category(name, remark,pid) values(#{name}, #{remark},#{pid})
    </insert>
    <update id="updateById">
        update category set name = #{name},remark=#{remark},updatetime=#{updatetime} where id = #{id}
    </update>
    <delete id="deleteById">
        delete from category where id=#{id}
    </delete>


    <select id="getById" resultType="com.dj.pojo.Category">
        select * from category where id = #{id};
    </select>
</mapper>